Repository dottxt-ai/outlines-core, pull requests merged in 2024-12, with the labels that each got.

#115 Switch from HashMap -> FxHashMap for better compilation performance.
  Cargo.toml
  src/index.rs
  src/python_bindings/mod.rs
  src/regex.rs
  src/vocabulary/mod.rs
Labels: enhancement

#111 Use a script to automatically set the version in `Cargo.toml`
  .github/scripts/cargo_version_bumper.py
  .github/workflows/release_pypi.yaml
  .github/workflows/release_rust.yaml
  Cargo.toml
Labels: CI

#121 Allow threads on `Index` creation
  benchmarks/bench_regex_guide.py
  pyproject.toml
  src/python_bindings/mod.rs
Labels: enhancement

#123 Add Linux aarch64
  .github/workflows/release_pypi.yaml
Labels: CI, vLLM

#129 Support URI format
  src/json_schema/mod.rs
  src/json_schema/types.rs
Labels: enhancement, json schema

#132 No release workflows on PRs
  .github/workflows/release_pypi.yaml
Labels: bug, CI

#130 Optimize output of non-required properties
  src/json_schema/mod.rs
  src/json_schema/parsing.rs
Labels: enhancement, json schema

#131 Add binary which converts JSON schemas to regex
  Cargo.toml
  src/bin/convert-json-schema.rs
Labels: enhancement, json schema

#128 Email format in JSON schema
  src/json_schema/mod.rs
  src/json_schema/types.rs
Labels: enhancement, json schema

#134 Add email and uri to bindings
  python/outlines_core/fsm/json_schema.py
  python/outlines_core/fsm/outlines_core_rs.pyi
  src/python_bindings/mod.rs
Labels: enhancement, json schema
